In [72]:
import pandas as pd

In [73]:
df = pd.read_csv("Test.csv")
df.head()

   ColumnA  ColumnB  ColumnC
0      2.0      2.5      4.0
1      NaN      3.1      2.0
2      4.0      4.2      2.0
3      3.0      4.3      NaN
4      6.0      NaN      2.0

In [74]:
df['ColumnA'].mean()

3.75

In [75]:
#Define mean of column
#Create the column where nulls are replaced with mean
#Replace original dataframe with the updated column.

def ReplaceWMean(df,colName):
    Mean = df[colName].mean()
    Col = df[colName].fillna(value=Mean)
    df[colName] = Col
    return(df)

In [76]:
print(ReplaceWMean(df,'ColumnA'))

   ColumnA  ColumnB  ColumnC
0     2.00      2.5      4.0
1     3.75      3.1      2.0
2     4.00      4.2      2.0
3     3.00      4.3      NaN
4     6.00      NaN      2.0

In [87]:
#Define mode of column
#Create the column where nulls are replaced with mode
#Replace original dataframe with the updated column.
#might need some logic here to ensure that we are getting an integer column as the input or we can convert the column to integer.

def ReplaceWMode(df,colName):
    Mode = df[colName].mode()
    Col = df[colName].fillna(value=int(Mode))
    df[colName] = Col
    return(df)

In [88]:
print(ReplaceWMode(df,'ColumnC'))

   ColumnA  ColumnB  ColumnC
0     2.00     2.50      4.0
1     3.75     3.10      2.0
2     4.00     4.20      2.0
3     3.00     4.30      2.0
4     6.00     3.65      2.0

In [79]:
#Define median of column
#Create the column where nulls are replaced with median
#Replace original dataframe with the updated column.
#might need some logic here to ensure that we are getting an integer 

def ReplaceWMedian(df,colName):
    df[colName] = pd.to_numeric(df[colName])
    Median = df[colName].median()
    Col = df[colName].fillna(value=Median)
    df[colName] = Col
    return(df)

In [80]:
print(ReplaceWMedian(df,'ColumnB'))

   ColumnA  ColumnB  ColumnC
0     2.00     2.50      4.0
1     3.75     3.10      2.0
2     4.00     4.20      2.0
3     3.00     4.30      NaN
4     6.00     3.65      2.0