In [1]:
import pandas as pd
import numpy as np
import matplotlib as mb

In [2]:
df = pd.read_csv("MOCK_DATA.csv")

In [3]:
df.head()

,id,first_name,last_name,email,gender,ip_address
0,1,Salomo,Skill,sskill0@businessinsider.com,Male,85.107.11.136
1,2,Dido,Breche,dbreche1@privacy.gov.au,Female,127.100.218.211
2,3,Christoforo,McClements,cmcclements2@economist.com,Male,66.84.129.212
3,4,Rufe,Dyball,rdyball3@chron.com,Male,233.172.18.148
4,5,Jackson,Noseworthy,jnoseworthy4@networkadvertising.org,Male,178.234.135.183

In [4]:
A = 'Male' in df["gender"].unique()
print(A)

True

In [5]:
def value_editor(df, col_name, old_value, new_value):
    if old_value in df[col_name].unique():
        NewColumn = df[col_name].replace({old_value : new_value})
        Newdf = df
        Newdf[col_name] = NewColumn
        return Newdf
    else: 
        return ("Error could not find value")

In [6]:
B = value_editor(df, 'gender', 'Male', "X")

In [7]:
B.head()

,id,first_name,last_name,email,gender,ip_address
0,1,Salomo,Skill,sskill0@businessinsider.com,X,85.107.11.136
1,2,Dido,Breche,dbreche1@privacy.gov.au,Female,127.100.218.211
2,3,Christoforo,McClements,cmcclements2@economist.com,X,66.84.129.212
3,4,Rufe,Dyball,rdyball3@chron.com,X,233.172.18.148
4,5,Jackson,Noseworthy,jnoseworthy4@networkadvertising.org,X,178.234.135.183

In [8]:
C = df['gender'].replace({'Male':'X'})

In [9]:
C.head()

0         X
1    Female
2         X
3         X
4         X
Name: gender, dtype: object

In [10]:
def transformer(df, col_name, x):
    if df[col_name].dtypes == "int64":
        if x == "squared":
            df[col_name+"_squared"] = df[col_name] * df[col_name]
            return (df)
        if x == "log":
            df[col_name+"_ln"] = np.log(df[col_name])
            return (df)
        if x == "root2":
            df[col_name+"_root2"] = np.sqrt(df[col_name])
            return (df)
    else: 
        return ("Can not apply transformation to none numeric column")

In [11]:
transformer(df,'id','squared')

,id,first_name,last_name,email,gender,ip_address,id_squared
0,1,Salomo,Skill,sskill0@businessinsider.com,X,85.107.11.136,1
1,2,Dido,Breche,dbreche1@privacy.gov.au,Female,127.100.218.211,4
2,3,Christoforo,McClements,cmcclements2@economist.com,X,66.84.129.212,9
3,4,Rufe,Dyball,rdyball3@chron.com,X,233.172.18.148,16
4,5,Jackson,Noseworthy,jnoseworthy4@networkadvertising.org,X,178.234.135.183,25
...,...,...,...,...,...,...,...
995,996,Debora,McIlory,dmciloryrn@wordpress.org,Female,171.62.120.106,992016
996,997,Dion,Lowbridge,dlowbridgero@wikia.com,Female,152.17.244.215,994009
997,998,Herman,Birrane,hbirranerp@yandex.ru,X,42.39.83.83,996004
998,999,Belle,Batrim,bbatrimrq@moonfruit.com,Female,23.207.15.63,998001
999,1000,Auberon,Wonfor,awonforrr@shinystat.com,X,219.21.232.186,1000000

In [12]:
transformer(df,'id','log')

,id,first_name,last_name,email,gender,ip_address,id_squared,id_ln
0,1,Salomo,Skill,sskill0@businessinsider.com,X,85.107.11.136,1,0.000000
1,2,Dido,Breche,dbreche1@privacy.gov.au,Female,127.100.218.211,4,0.693147
2,3,Christoforo,McClements,cmcclements2@economist.com,X,66.84.129.212,9,1.098612
3,4,Rufe,Dyball,rdyball3@chron.com,X,233.172.18.148,16,1.386294
4,5,Jackson,Noseworthy,jnoseworthy4@networkadvertising.org,X,178.234.135.183,25,1.609438
...,...,...,...,...,...,...,...,...
995,996,Debora,McIlory,dmciloryrn@wordpress.org,Female,171.62.120.106,992016,6.903747
996,997,Dion,Lowbridge,dlowbridgero@wikia.com,Female,152.17.244.215,994009,6.904751
997,998,Herman,Birrane,hbirranerp@yandex.ru,X,42.39.83.83,996004,6.905753
998,999,Belle,Batrim,bbatrimrq@moonfruit.com,Female,23.207.15.63,998001,6.906755
999,1000,Auberon,Wonfor,awonforrr@shinystat.com,X,219.21.232.186,1000000,6.907755

In [13]:
transformer(df,'id','root2')

,id,first_name,last_name,email,gender,ip_address,id_squared,id_ln,id_root2
0,1,Salomo,Skill,sskill0@businessinsider.com,X,85.107.11.136,1,0.000000,1.000000
1,2,Dido,Breche,dbreche1@privacy.gov.au,Female,127.100.218.211,4,0.693147,1.414214
2,3,Christoforo,McClements,cmcclements2@economist.com,X,66.84.129.212,9,1.098612,1.732051
3,4,Rufe,Dyball,rdyball3@chron.com,X,233.172.18.148,16,1.386294,2.000000
4,5,Jackson,Noseworthy,jnoseworthy4@networkadvertising.org,X,178.234.135.183,25,1.609438,2.236068
...,...,...,...,...,...,...,...,...,...
995,996,Debora,McIlory,dmciloryrn@wordpress.org,Female,171.62.120.106,992016,6.903747,31.559468
996,997,Dion,Lowbridge,dlowbridgero@wikia.com,Female,152.17.244.215,994009,6.904751,31.575307
997,998,Herman,Birrane,hbirranerp@yandex.ru,X,42.39.83.83,996004,6.905753,31.591138
998,999,Belle,Batrim,bbatrimrq@moonfruit.com,Female,23.207.15.63,998001,6.906755,31.606961
999,1000,Auberon,Wonfor,awonforrr@shinystat.com,X,219.21.232.186,1000000,6.907755,31.622777

In [14]:
df['id'].dtype == "int64"

True

In [ ]:
### function to delete a column based off of column name

In [17]:
df2 = pd.read_csv("cereal.csv")

In [18]:
df2.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843

In [23]:
def quartile_trimmer(df, col_name, n):
    transformed = "clipped_" + col_name
    upper = df[col_name].quantile(1-n)
    lower = df[col_name].quantile(n)
    df[transformed] = df[col_name].clip(lower, upper, axis = 0)
    return df

In [26]:
df4 = (quartile_trimmer(df2, "sodium", 0.05))

In [27]:
df4.head()

,name,mfr,type,calories,protein,fat,sodium,fiber,carbo,sugars,potass,vitamins,shelf,weight,cups,rating,clipped_sodium
0,100% Bran,N,C,70,4,1,130,10.0,5.0,6,280,25,3,1.0,0.33,68.402973,130.0
1,100% Natural Bran,Q,C,120,3,5,15,2.0,8.0,8,135,0,3,1.0,1.00,33.983679,15.0
2,All-Bran,K,C,70,4,1,260,9.0,7.0,5,320,25,3,1.0,0.33,59.425505,260.0
3,All-Bran with Extra Fiber,K,C,50,4,0,140,14.0,8.0,0,330,25,3,1.0,0.50,93.704912,140.0
4,Almond Delight,R,C,110,2,2,200,1.0,14.0,8,-1,25,3,1.0,0.75,34.384843,200.0

In [25]:
df2["sodium"].quantile(0.95)

282.0

In [ ]:
def histogram (df, col_name):

In [28]:
df2['protein'].hist()

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.