In [79]:
import pandas as pd

In [80]:
df = pd.read_csv("MOCK_DATA.csv")

In [81]:
df.head()

,id,first_name,last_name,email,gender,ip_address
0,1,Salomo,Skill,sskill0@businessinsider.com,Male,85.107.11.136
1,2,Dido,Breche,dbreche1@privacy.gov.au,Female,127.100.218.211
2,3,Christoforo,McClements,cmcclements2@economist.com,Male,66.84.129.212
3,4,Rufe,Dyball,rdyball3@chron.com,Male,233.172.18.148
4,5,Jackson,Noseworthy,jnoseworthy4@networkadvertising.org,Male,178.234.135.183

In [82]:
A = 'Male' in df["gender"].unique()
print(A)

True

In [83]:
def value_editor(df, col_name, old_value, new_value):
    if old_value in df[col_name].unique():
        NewColumn = df[col_name].replace({old_value : new_value})
        Newdf = df
        Newdf[col_name] = NewColumn
        return Newdf
    else: 
        return ("Error could not find value")

In [84]:
B = value_editor(df, 'gender', 'Male', "X")

In [85]:
B.head()

,id,first_name,last_name,email,gender,ip_address
0,1,Salomo,Skill,sskill0@businessinsider.com,X,85.107.11.136
1,2,Dido,Breche,dbreche1@privacy.gov.au,Female,127.100.218.211
2,3,Christoforo,McClements,cmcclements2@economist.com,X,66.84.129.212
3,4,Rufe,Dyball,rdyball3@chron.com,X,233.172.18.148
4,5,Jackson,Noseworthy,jnoseworthy4@networkadvertising.org,X,178.234.135.183

In [27]:
C = df['gender'].replace({'Male':'X'})

In [28]:
C.head()

0         X
1    Female
2         X
3         X
4         X
Name: gender, dtype: object